.header_top_a{
	text-decoration: none;
	color: #333131;
	font-size: 0.7rem;
	font-weight: bold;

}
.header_top_a:hover{
	text-decoration: none;
	color: #333131;
}


.nav_btn{
	font-size: 0.7rem;
	width: 5rem;
    color: #333131; 
}
.top_btn{
	font-size: 1.1rem;
	padding-left: 1rem;
	color: #EF4996;
}
.search{
	height: 2rem;
	font-size: 0.7rem;
}
.search_btn{
	height: 2rem;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 0px;
	background: linear-gradient(to right,#FF2156,#FF2156);
	font-size: 0.7rem;
	color: white;
	font-weight: bold;
}

.nav_a:hover{
	text-decoration: none;
}

b{
	color: #DBD8D8;
}
