.small_pic_ul{
	list-style: none;
}
.pic_li{
	margin-right: 1rem;
	border: 1px solid transparent;
}
.pic_li:hover{
	border: 1px solid #B9B6B6;
	box-sizing: border-box;
}
.price2{
	font-size: 2rem;
	color: #FF0000;
}
.detail_a{
	border: 1px solid #787575;
	color: #9B9696;
	border-radius: 4px;
}
.detail_a:hover{
	text-decoration: none;

}
.small_pic{
	width: 100%;
	height: 100%;
}
.products_logo{
	width: 1rem;
	height: 1rem;
}
@media screen and (max-width: 767px) {
	.remai_small{
		display: flex;
		justify-content: between;
	}
}
.remai_pic{
	width: 80%;
}
.remai_border{
	border-left:1px solid #f5f5f5;
}
.color_pic{
	width: 3rem;
	height: 3rem;

}
.size_li{
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	display: block;
	width: 2rem;
	height: 2rem;
	line-height: 1.7rem;
}

