.small_pic_ul{
	list-style: none;
}
.pic_li{
	margin-right: 1rem;
	border: 1px solid transparent;
}
.pic_li:hover{
	border: 1px solid #B9B6B6;
	box-sizing: border-box;
	border-radius: 4px;
}
.price2{
	font-size: 2rem;
	color: #FF0000;
}
.detail_a{
	border: 1px solid #787575;
	color: #9B9696;
	border-radius: 4px;
}
.detail_a:hover{
	text-decoration: none;

}
.small_pic{
	width: 100%;
	height: 100%;
	opacity: 0.5;
	border-width: 2px !important;
	padding: 0px;
}
.pic_li:first-child img{
	opacity: 1;
}
.products_logo{
	width: 1rem;
	height: 1rem;
}
.remai_pic{
	width: 80%;
	transition: all .3s;
}
.remai_pic:hover{
	transform: translateY(-0.5rem);
}
.remai_border{
	border-left:1px solid #f5f5f5;
}
.color_pic{
	width: 3rem;
	height: 3rem;

}
.size_li{
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	display: block;
	width: 2rem;
	height: 2rem;
	line-height: 1.7rem;
}
.similar_item{
	width: 30%;
}
.haixianggou_item{
	width: 60%
}
.haixianggou_title{
	line-height:2.5rem;
	margin: 0 auto;
}
#mask{
  width:176px; 
  height:176px;
  background:url('../img/products_women/p4_big.png');
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: #f5f5f5;

}
.p-absolute{
	position: absolute;
}
.d-none{
	display: none;
}
#super-mask{
	width:100%; 
	height:77%;
}
#size li{
	
	border: 2px solid black;
}
#color img,#count button,#size li{
	cursor: pointer;
}
.mid-content{
	width: 70%;
	margin-right: auto;
    margin-left: auto;
}
@media screen and (max-width: 1500px){
	.mid-content{
		width: 80%;
	}
}
@media screen and (max-width: 1400px) {
	#super-mask{
  		height: 75%;
	}
	#mask{
		width: 132px;
		height: 132px;
	}
}
@media screen and (max-width: 1200px) {
	.remai_small{
		display: flex;
		justify-content: space-around;
	}
	
	#super-mask{
  		display: block!important;
  		height: 83%;
	}
		
}
@media screen and (max-width: 991px) {
	#super-mask{
  		display: block!important;
  		width: 60%;
  		height: 85%;
	}
	.haixianggou {
		display: flex !important;
		justify-content: between !important;
		flex-wrap: wrap !important;
	}
	.haixianggou div{
		width: 30% !important;
	}
	.show_div{
		width: 60%;
	}
	.small_pic_ul{
		width: 60%;
	}
}